APP_NAME="Senior API Challenge"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

CACHE_STORE=file
QUEUE_CONNECTION=database

SESSION_DRIVER=file
SANCTUM_STATEFUL_DOMAINS=localhost:4200
